.page-footer{
  background-color: #f69da1;
},

.footer-copyright{
  background-color: #f69da1;
}

.quesha-font{
  font-family: Quesha;
  font-size: 30px;
}

.avenir-font{
  font-family: AvenirNext;
}
